body {
	background-color: #bfb55d; 
}

.quote-box{
	border-radius: 5px; 
	position: relative;
	margin: 8% auto auto auto;
	padding: 40px 50px;
	display: table; 
	background-color: #999; 
}

#quoteText{
	font-size: 16px; 

}

.quote-Author {
	margin: 0;
}

.btn-default {
 	 
 	float: left;   
}

.quote-box .buttons #tweet-quote.button {
	float:left;
	padding: 10px;
	padding-top: 5px;
	text-align: center; 
	font-size: 1.2em; 
	margin-right: 5px; 
	height: 34px;
	width: 40px;
	
	 
}

footer {
	width: 400px; 
	margin: 0 auto;
	text-align: center; 
}